/* Boa Vista-Roraima
// by Dalmo Mendes (dalmosilvamendes@gmail.com)
// ::. Meus Contatos .::
// https://ceproirr.com.br
// https://www.ceproirr.com.br/webagency
// https://www.ceproirr.com.br/suporte-tec
// https://facebook.com/ceproirr
// https://instagram.com/ceproirr
// https://twitter.com/ceproirr
// https://www.youtube.com/channel/UC9egIn_Xkg2KFD_55mi_r8w
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
/* Corpo da página */
body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(253, 255, 255);
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: center;
}
/* CAIXA GERAL DA PÁGINA  - Recebe outros elementos */ 
.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100vh;
}
/* BLOCO DA ESQUERDA - LEFT */
.instagram-phone{
    display: flex;
    align-items:center;
    justify-content:right;
    width: 50%;
}
/* ALTURA DA IMAGEM FONE */ 
.instagram-phone img{
    height: 35rem;
}
/* BLOCO DA DIREITA - RIGHT */
.instagram-conntinue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}
/* AGRUPAR MAIS INFORMAÇÕES
Logo do Instagram, foto de perfil, textos e botões:
*/
.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgraw;
}
.group:nth-child(1){
    min-height: 19rem;
}
.instagram-logo{
    height: 3rem;
}
.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

/* Class que recebe informações para baixar o app */
.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
    text-align: center;
}
/* Class que recebe e organiza os botões de download */
.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}
/* Class que recebe e alinha os botões de downloads */
.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* CONFIGURAÇÕES DE TELA RESPONSIVE */

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%; /* Caixa geral da página */
    }
}

@media (max-width: 650px) {
    body { /* Alterar a cor de funda da página*/
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }
    /* Oculta a div da imagem instagram-phone.jpg*/
    .instagram-phone {
        display: none;
    }
    /* Deixa a div Bloco da Direita com 
    100 porcento de largura */
    .instagram-continue {
        width: 100%;
    }
    /* Borda 1px cor solida transparente*/
    .group {
        border: 1px solid transparent;
    }
}
